{{page-title 'Repositories'}}

<div class='split-screen'>
  <div class='split-screen__half'>
    <Repositories @repositories={{@model}} />
  </div>

  <div class='split-screen__half'>
    {{outlet}}
  </div>
</div>
