@import 'colors';
@import 'reset';
@import 'buttons';
@import 'application';
@import 'organizations';
@import 'repositories';
@import 'branches';
@import 'spinner';

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

.split-screen {
  display: flex;
  gap: 1rem;

  &__half {
    flex: 1;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
