<div class='search'>
  <label>
    <h5 class='search__label' data-test-org-search-label>
      GitHub Organization Name:
    </h5>

    <Input
      @type='text'
      @value={{this.organization}}
      id='org'
      class='search__input'
      data-test-org-search-input
    />
  </label>

  <button
    type='button'
    {{on 'click' this.search}}
    class='search__button'
    data-test-org-search-button
  >Search</button>
</div>
