<div>
  <img src={{@organization.avatar_url}} alt='Organization' />
  <div>
    <h1>
      {{@organization.name}}
    </h1>
    <a
      href={{@organization.html_url}}
      target='_blank'
      rel='noopener noreferrer'
    >
      See On Github
    </a>
  </div>
</div>
