<h2 class='repository__title' data-test-repository-filter-title>
  Repositories
</h2>

<Input
  @value={{this.language}}
  id='language'
  class='repository__input'
  placeholder='All Languages'
  data-test-repository-filter-input
/>

<label for='cars'>Sort Stars</label>

<select name='cars' id='cars' {{on 'change' (pick 'target.value' @setStars)}}>
  <option value=''></option>
  <option value='asc'>Asc</option>
  <option value='desc'>Desc</option>
</select>

{{yield this.filtered}}
