<Repositories::Filter
  @repositories={{@repositories}}
  @setStars={{@setStars}}
  as |repositories|
>
  {{#each repositories as |repo|}}
    <Repositories::Show @repository={{repo}} />
  {{else}}
    <h3 data-test-repository-not-found>No Results Found</h3>
  {{/each}}
</Repositories::Filter>
